body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

button,
input[type="submit"] {
  background-color: #00b0ff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

a {
  color: #00b0ff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 26px;
  margin: 8px auto;
  overflow: hidden;
  width: calc(50% - 10px);
}

.card-content {
  margin: 8px;
}

.card-content h1 {
  text-align: center;
}

.header {
  background-color: #00b0ff;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header h1 {
  font-weight: 700;
  margin: 0;
}

.body {
  padding: 20px;
}

.footer {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .card-container {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
}
